html { 
  background: url("../images/Skola.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: unset;
}

.profile_pic {
  width: 250px;
  margin: 6px 20px
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2b344a;
  font-family: 'K2D', sans-serif;
  background-color: #E1E1E195;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  width: 80%;
}

